---
---

/* Use Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap');

/* Apply font to all text */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  line-height: 1.7;
  color: #c78e5b;
}

/* Apply to headings */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Merriweather', serif;
  font-weight: 600;
}

.author__avatar {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.author__avatar img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: block;
  margin: 0 auto;
}
