---
---

/*
 * This file controls what is imported from /_sass
 */

@import
    "vendor/breakpoint/breakpoint",
    "themes",
    "theme/default",
    "theme/dark",
    "include/mixins",
    "vendor/susy/susy",
    "layout/reset",
    "layout/base",
    "include/utilities",
    "layout/tables",
    "layout/buttons",
    "layout/notices",
    "layout/masthead",
    "layout/navigation",
    "layout/footer",
    "syntax",
    "layout/forms",
    "layout/page",
    "layout/archive",
    "layout/sidebar",
    "vendor/font-awesome/fontawesome",
    "vendor/font-awesome/solid",
    "vendor/font-awesome/brands",
    "vendor/magnific-popup/magnific-popup"
;

/* ===== Custom styles by Yuanru Tan ===== */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&display=swap');

body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 17px;
  line-height: 1.6;
  color: #333333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'IBM Plex Serif', serif !important;
  font-weight: 600;
}

.site-footer span:last-child {
  display: none !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: white !important;
    color: black !important;
  }

  a {
    color: #1650FF !important;
  }

  .page__content,
  .archive__item {
    background-color: white !important;
    color: black !important;
  }
}

html[data-theme="dark"] {
  body,
  p,
  li,
  h1, h2, h3, h4, h5, h6,
  a,
  .archive__item-title,
  .page__content {
    color: #ffffff !important;
  }
}

.note-box {
  background-color: #f8f8f8;
  padding: 1.2em 1.5em;
  border-radius: 12px;
  font-size: 0.8em;
  line-height: 1.75;
  color: #333;
  box-shadow: none;
  border: none;
}







